body {
    font-family:"Tahoma", Geneva, sans-serif;
    background-color: #6600CC;
    color: #FFFF00;
    margin: 40px;
    padding: 20px;
    text-align: center;
}
h1 {
    color: #a663bd;
    font-size: 55px
}

h2 {
    color: #6600CC;
}

p {
    font-size: 22px;
}
img {
    margin: 20px 0;
    border: 2px dotted #663300;
}
